<!DOCTYPE html>
<html>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <head>
        <title>CS3101 Final Assessment</title>
    </head>
    
    <body>
    		
  		<div class='each-hw' ng-app='HwList' ng-controller='MainController'>
        <ul ng-controller='HwController' ng-repeat='hw in hwlist'>
          <li ng-click="click()">
             	{{ hw.assignment }}

             	<ul ng-show='clicked'> 
             		<li> URL: <a href={{hw.url}}>github</a> </li>
             		<li> Status: {{ hw.status}} </li>
             	</ul>
          </li>
        </ul>
      </div>

      <div class='about-page'>
        <a href="/about">About</a>
      </div>
    </body>
</html>